body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/engin-akyurt-HEMIBJ8QQuA-unsplash.jpg);
    background-size: cover;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
#btn-el{
    width: 150px;
    background-color:goldenrod;
    border-radius: 2px;
    color: #016f32;
    font-weight: bold;
    padding: 5px 12px;
    border: none;
}
#new-card{
       width: 150px;
    background-color:goldenrod;
    border-radius: 2px;
    color: #016f32;
    font-weight: bold;
    padding: 5px 12px;
    border: none;
}